---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import MapPin from "@/icons/MapPin.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import Globe from "@/icons/Globe.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import X from "@/icons/X.astro";

const { name, label, image, location, profiles, phone, email, url } = basics;
const { city, country } = location;

const SOCIAL_ICONS = {
  GitHub,
  LinkedIn,
  X,
};

const printInfo = [url, email, phone, ].filter(Boolean).join(" | ");
---

<Section>
  <div class="container">
    <div class="info">
      <h1>{name}</h1>
      <h2>{label}</h2>
      <span>
        <MapPin />
        {city}, {country}
      </span>
       <footer class="print">{printInfo}</footer>
      <footer class="no-print">   
        {
          url && (
            <a
              href={url}
              title={`Ingresar a la web ${name}: ${url}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Globe />
            </a>
          )
        }
        {
          email && (
            <a
              href={`mailto:${email}`}
              title={`Enviar un correo electrónico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network as keyof typeof SOCIAL_ICONS];
            return (
              <a
                href={url}
                title={`Visitar el perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    <figure class="profile">
      <img
        src={image}
        alt={`Foto de ${name}`}
        title={`Foto de ${name}`}
        loading="lazy"
      />
    </figure>
  </div>
</Section>

<style>
  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-right: 2rem;
  }
  .profile img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    width: 7.5rem;
    border-radius: 50%;
  }

  span {
    color: #666;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 1rem;
    letter-spacing: -0.05rem;
  }

  footer {
    color: #555;
    font-size: 0.75rem;
    display: flex;
    gap: 0.25rem;
    margin-top: 0.5rem;
  }

  footer a {
    color: #777;
    display: inline-flex,
    align-items: center;
    justify-content: center;
    border: 1px solid #eee;
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    border-radius: .5rem;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
  }

  footer a:hover {
    background-color: #eee;
    border: 1px solid #ddd;
  }

  @media (width <= 700px) {
    .container {
      flex-direction: column-reverse;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      text-wrap: balance;
    }

    figure {
      margin: 0 auto;
    }
  }
</style>
